// (sub-heading at the top of the app UI)
$primary-color-light: hsl(276, 100%, 81%);

// (chat on the left)
$primary-color: hsl(276, 55%, 52%);

// (chat on the right
$primary-color-desaturated: hsl(271, 15%, 43%);

// (placeholder text)
$primary-color-neutral: hsl(206, 6%, 79%);

// (main heading)
$primary-color-darker: hsl(271, 36%, 24%);

// (paragraph)
$primary-color: hsl(270, 7%, 64%);



/*Linear gradient for design*/
$linear-color-light: hsl(293, 100%, 63%);
$linear-color-dark: hsl(264, 100%, 61%);


/* Secondary Colors*/
$white: hsl(0, 0%, 100%);

// (app background)
$secondary-color: hsl(270, 20%, 96%);

// (submit button background) 
$secondary-color-dark: hsl(271, 36%, 24%);

// (radio button outline)
$secondary-color-light: hsl(289, 100%, 72%);